<div class="wrapper">
  <div class="register-container">
    <h2 class="register-label">CADASTRAR</h2>
    <form (ngSubmit)="onRegister()" #registerForm="ngForm">
      <input
        type="text"
        name="name"
        [(ngModel)]="name"
        placeholder="Nome Completo"
        required
      />
      <input
        type="email"
        name="email"
        [(ngModel)]="email"
        placeholder="Email"
        required
      />
      <input
        type="password"
        name="password"
        [(ngModel)]="password"
        placeholder="Senha"
        required
      />
      <input
        type="password"
        name="password2"
        [(ngModel)]="password2"
        placeholder="Confirmar Senha"
        required
      />
      <button type="submit" [disabled]="registerForm.invalid">Cadastrar</button>
      <a href="../login/">Acessar</a>
    </form>
    <p *ngIf="registerError" class="error">Usuário ou senha inválidos.</p>
  </div>
</div>
