.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-container {
  width: 85%;
  padding: 32px 24px;
  border-radius: 8px;
  text-align: center;
}

.login-label {
  text-align: left;
  width: 100%;
  margin-bottom: 30px;
}

input {
  height: 50px;
  width: 90%;
  margin-bottom: 30px;
  padding: 0 10px;
  border-radius: 9px;
  border: 1px solid #bbb;
  font-size: 16px;
  font-weight: bold;
}

/* Estilo para o placeholder */
input::placeholder {
  font-size: 16px;
  font-weight: bold;
  color: #888; /* opcional */
}

button {
  font-size: 16px;
  height: 50px;
  width: 95%;
  padding: 0;
  background: #1976d2;
  color: #fff;
  border: none;
  border-radius: 9px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza o texto */
  margin: 0 auto;
  margin-bottom: 12px;
}

button:disabled {
  background: #aaa;
}

.login-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 95%;
  padding: 0;
  background: #f0f0f0;
  border-radius: 9px;
  color: #1976d2;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  margin: 0 auto;
}

.error {
  color: #d32f2f;
  margin-top: 12px;
}
