<div class="wrapper">
  <div class="login-container">
    <h2 class="login-label">LOGIN</h2>
    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
      <input
        type="text"
        name="username"
        [(ngModel)]="username"
        placeholder="Usuário"
        required
      />
      <input
        type="password"
        name="password"
        [(ngModel)]="password"
        placeholder="Senha"
        required
      />
      <button type="submit" [disabled]="loginForm.invalid">Acessar</button>
    </form>
    <a href="../register/">Cadastrar</a>
    <p *ngIf="loginError" class="error">Usuário ou senha inválidos.</p>
  </div>
</div>
