* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
